{
  "openapi": "3.0.0",
  "info":
  {
    "title": "Brightcove Player Management API Reference",
    "description": "Reference for the Brightcove Player Management API, used to manipulate players, player configurations and child players (embeds). To test API requests, you can use our [API Testing Tools](https://support.brightcove.com/node/17910). If you haven't gone through the [Quick Start to Player Management](https://support.brightcove.com/node/18268), it's highly recommended you start there. You'll get security set up and learn some of the basics of using the Player Management API. If you are working with this API for the first time, read the [Player Management API Overview](https://support.brightcove.com/node/18269). Remember that after making any configuration changes you **MUST** re-publish your player. <strong>Note:</strong> Fields in configuration objects need to be set only if you wish to change their values. Fields in configuration objects will be displayed in the response only if explicitly set. For information on authenticating API requests, see [OAuth Overview](https://support.brightcove.com/overview-oauth-api-v4).",
    "version": "2.0.0"
  },
  "servers":
  [
    {
      "url": "https://players.api.brightcove.com/v2",
      "variables":
      {}
    }
  ],
  "paths":
  {
    "/accounts/{account_id}/players":
    {
      "get":
      {
        "tags":
        [
          "Players"
        ],
        "summary": "Get a list of players",
        "description": "Get a list of players",
        "operationId": "GetPlayers",
        "parameters":
        [
          {
            "$ref": "#/components/parameters/account_id"
          },
          {
            "$ref": "#/components/parameters/ContentType"
          },
          {
            "$ref": "#/components/parameters/Authorization"
          }
        ],
        "responses":
        {
          "200":
          {
            "description": "SUCCESS",
            "content":
            {
              "application/json":
              {
                "schema":
                {
                  "description": "200",
                  "type": "object",
                  "properties":
                  {
                    "items":
                    {
                      "type": "array",
                      "items":
                      {
                        "type": "object",
                        "properties":
                        {
                          "account_id":
                          {
                            "type": "string",
                            "description": "The account id"
                          },
                          "created_at":
                          {
                            "type": "string",
                            "description": "The player creation date-time"
                          },
                          "embeds_count":
                          {
                            "type": "integer",
                            "description": "The number of embeds (instances of this player), will always be at least 1"
                          },
                          "id":
                          {
                            "type": "string",
                            "description": "The player id"
                          },
                          "name":
                          {
                            "type": "string",
                            "description": "The player name"
                          },
                          "description":
                          {
                            "type": "string",
                            "description": "The player description"
                          },
                          "url":
                          {
                            "type": "string",
                            "description": "URL to player"
                          },
                          "branches":
                          {
                            "type": "object",
                            "description": "The branches of the player - contains objects for the preview and master (published) player",
                            "properties":
                            {
                              "preview":
                              {
                                "type": "object",
                                "description": "The preview player branch",
                                "properties":
                                {
                                  "configuration":
                                  {
                                    "$ref": "#/components/schemas/configuration"
                                  },
                                  "updated_at":
                                  {
                                    "type": "string",
                                    "description": "date-time of last update to preview player"
                                  },
                                  "template_updated_at":
                                  {
                                    "type": "string",
                                    "description": "date-time of last update to preview player template"
                                  },
                                  "preview_url":
                                  {
                                    "type": "string",
                                    "description": "URL for the player"
                                  }
                                }
                              },
                              "master":
                              {
                                "type": "object",
                                "description": "The master (published) player branch",
                                "properties":
                                {
                                  "configuration":
                                  {
                                    "$ref": "#/components/schemas/configuration"
                                  },
                                  "updated_at":
                                  {
                                    "type": "string",
                                    "description": "date-time of last update to preview player"
                                  },
                                  "template_updated_at":
                                  {
                                    "type": "string",
                                    "description": "date-time of last update to preview player template"
                                  },
                                  "preview_url":
                                  {
                                    "type": "string",
                                    "description": "URL for the player"
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400":
          {
            "description": "BAD_REQUEST: the syntax of the API call is likely incorrect"
          },
          "401":
          {
            "description": "UNAUTHORIZED: Authentication failed - check to make sure your client credentials were correct for the access token "
          },
          "404":
          {
            "description": "RESOURCE_NOT_FOUND: The api couldn&#39;t find the resource you requested "
          },
          "429":
          {
            "description": "RATE_LIMIT_EXCEEDED: Too many requests per secon"
          },
          "500":
          {
            "description": "INTERNAL_SERVER_ERROR: there was an error trying to fulfill the request"
          }
        },
        "deprecated": false,
        "security":
        [],
        "x-operation-settings":
        {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/accounts/{account_id}/players/{player_id}/publish":
    {
      "post":
      {
        "tags":
        [
          "Players"
        ],
        "summary": "Publish a player",
        "description": "Publish a player for optimization and production use.",
        "operationId": "PublishPlayer",
        "parameters":
        [
          {
            "$ref": "#/components/parameters/account_id"
          },
          {
            "$ref": "#/components/parameters/player_id"
          },
          {
            "$ref": "#/components/parameters/ContentType"
          },
          {
            "$ref": "#/components/parameters/Authorization"
          }
        ],
        "responses":
        {
          "200":
          {
            "description": "SUCCESS",
            "content":
            {
              "application/json":
              {
                "schema":
                {
                  "description": "200",
                  "type": "object",
                  "properties":
                  {
                    "id":
                    {
                      "type": "string",
                      "description": "The player id",
                      "readOnly": true
                    },
                    "url":
                    {
                      "type": "string",
                      "description": "The player URL",
                      "readOnly": true
                    },
                    "embed_code":
                    {
                      "type": "string",
                      "description": "The published player iframe tag",
                      "readOnly": true
                    },
                    "embed_in_page":
                    {
                      "type": "string",
                      "description": "URL to browse to retrieve the in-page embed code for published player",
                      "readOnly": true
                    }
                  }
                }
              }
            }
          },
          "400":
          {
            "description": "BAD_REQUEST: the syntax of the API call is likely incorrect"
          },
          "401":
          {
            "description": "UNAUTHORIZED: Authentication failed - check to make sure your client credentials were correct for the access token "
          },
          "404":
          {
            "description": "RESOURCE_NOT_FOUND: The api couldn&#39;t find the resource you requested "
          },
          "429":
          {
            "description": "RATE_LIMIT_EXCEEDED: Too many requests per secon"
          },
          "500":
          {
            "description": "INTERNAL_SERVER_ERROR: there was an error trying to fulfill the request"
          }
        },
        "deprecated": false,
        "security":
        [],
        "x-operation-settings":
        {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    }
  },
  "components":
  {
    "schemas": {
      "configuration": {
        "title": "Player Configuration",
        "type": "object",
        "description": "Configuration for a player",
        "properties": {
          "autoadvance":
          {
            "type": "integer",
            "description": "Autoadvance setting if using playlists: 0 for no wait; a number for seconds between advance; null to cancel autoadvance"
          },
          "autoplay":
          {
            "type": "boolean",
            "description": "Indicates player should play video immediately, on platforms that allow this",
            "default": false
          },
          "compatibility":
          {
            "type": "boolean",
            "description": "Provides compatibility with the Player 1.x.x API",
            "readOnly": true
          },
          "css":
          {
            "type": "object",
            "description": "Object containing CSS color overrides",
            "properties":
            {
              "controlBarColor":
              {
                "type": "string",
                "description": "Background color of control bar"
              },
              "controlColor":
              {
                "type": "string",
                "description": "Color of buttons and text in control bar"
              },
              "progressColor":
              {
                "type": "string",
                "description": "Color of progress bar"
              }
            }
          },
          "errors":
          {
            "type": "boolean",
            "description": "Indicates if the error messages plugin should be excluded"
          },
          "fullscreenControl":
          {
            "type": "boolean",
            "description": "Indicates whether the fullscreen control should be shown in the control bar"
          },
          "languages":
          {
            "type": "array",
            "description": "Languages (2 letter abbreviations) you wish your player to support, from the Vides.js supported list",
            "items":
            {
              "type": "string"
            }
          },
          "loop":
          {
            "type": "boolean",
            "description": "Indicates if the video should play over as soon as it ends"
          }
        },
        "media":
        {
          "type": "object",
          "description": "Media information for non-Video Cloud media",
          "properties":
          {
            "sources":
            {
                "$ref": "#/components/schemas/sources"
            },
            "src":
            {
              "type": "string",
              "description": "The URL of the video file to load into the player"
            },
            "tracks":
            {
              "type": "array",
              "description": "Array of text track objects",
              "items":
              {
                "$ref": "#/components/schemas/track"
              }
            }
          }
        }
      },
      "sources":
      {
        "title": "Media Source Object",
        "type": "array",
        "description": "Media source information for non-Video Cloud media",
        "items": {
          "type": "object",
          "properties":
          {
            "height":
            {
              "type": "integer",
              "description": "Video frame height in pixels"
            },
            "width":
            {
              "type": "integer",
              "description": "Video frame width in pixels"
            },
            "poster":
            {
              "type": "object",
              "description": "Information for the poster image",
              "properties":
              {
                "highres":
                {
                  "type": "string",
                  "description": "The file path to the poster image, relative to the root directory of the skin"
                }
              }
            },
            "src":
            {
              "type": "string",
              "description": "The URL of the video file to load into the player"
            },
            "title":
            {
              "type": "string",
              "description": "Content of the `&lt;title&gt;` element of the page"
            },
            "type":
            {
              "type": "string",
              "description": "MIME type of the video, as specified in the HTML5 standard, for instance `video/mp4` form MP4 or `application/x-mpegURL` for HLS",
              "enum":
              [
                "video/mp4",
                "application/x-mpegURL"
              ]
            }
        }
        },
        "required":
        [
          "src",
          "type"
        ]
      },
      "track":
      {
        "title": "Media Text Track Object",
        "type": "object",
        "description": "Media track information for non-Video Cloud media",
        "properties":
        {
          "label":
          {
            "type": "string",
            "description": "Text label for the track, for instance `English` for an English language text track"
          },
          "src":
          {
            "type": "string",
            "description": "URL to source of track, required in a track object"
          },
          "srclang":
          {
            "type": "string",
            "description": "2 letter code (valid BCP 47 language tag) for the language of the text track"
          }
        }
      }
    },
    "parameters":
    {
      "account_id":
      {
        "name": "account_id",
        "in": "path",
        "description": "Video Cloud account ID.",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema":
        {
          "type": "string"
        }
      },
      "player_id":
      {
        "name": "player_id",
        "in": "path",
        "description": "Brightcove Player ID.",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema":
        {
          "type": "string"
        }
      },
      "ContentType":
      {
        "name": "Content-Type",
        "in": "header",
        "description": "Content-Type: application/json",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema":
        {
          "type": "string"
        },
        "example": "application/json"
      },
      "Authorization":
      {
        "name": "Authorization",
        "in": "header",
        "description": "Authorization: Bearer access_token (see [Getting Access Tokens](https://support.brightcove.com/oauth-api-sample-get-access-token))",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema":
        {
          "type": "string"
        }
      }
    }
  }
}
