{
    "openapi": "3.0.0",
    "info": {
        "title": "Brightcove Player Management API Reference",
        "description": "Reference for the Brightcove Player Management API, used to manipulate players, player configurations and child players (embeds). To test API requests, you can use our [API Testing Tools](https://support.brightcove.com/node/17910). If you haven't gone through the [Quick Start to Player Management](https://support.brightcove.com/node/18268), it's highly recommended you start there. You'll get security set up and learn some of the basics of using the Player Management API. If you are working with this API for the first time, read the [Player Management API Overview](https://support.brightcove.com/node/18269). Remember that after making any configuration changes you **MUST** re-publish your player. <strong>Note:</strong> Fields in configuration objects need to be set only if you wish to change their values. Fields in configuration objects will be displayed in the response only if explicitly set. For information on authenticating API requests, see [OAuth Overview](https://support.brightcove.com/overview-oauth-api-v4).",
        "version": "2.0.0"
    },
    "servers": [{
        "url": "https://players.api.brightcove.com/v2",
        "variables": {}
    }],
    "paths": {
        "/accounts/{account_id}/players/{player_id}": {
            "get": {
                "tags": [
                    "Players"
                ],
                "summary": "Get a single player",
                "description": "Get a player by ID",
                "operationId": "GetPlayer",
                "parameters": [{
                        "name": "account_id",
                        "in": "path",
                        "description": "Video Cloud or Brightcove Player account ID.",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "player_id",
                        "in": "path",
                        "description": "The player ID.",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "description": "Content-Type: application/json",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Authorization: Bearer access_token (see [Getting Access Tokens](https://support.brightcove.com/oauth-api-sample-get-access-token))",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "200",
                                    "$ref": "#/definitions/schemas/GetPlayerResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "BAD_REQUEST: the syntax of the API call is likely incorrect"
                    },
                    "401": {
                        "description": "UNAUTHORIZED: Authentication failed - check to make sure your client credentials were correct for the access token "
                    },
                    "404": {
                        "description": "RESOURCE_NOT_FOUND: The api couldn&#39;t find the resource you requested "
                    },
                    "429": {
                        "description": "RATE_LIMIT_EXCEEDED: Too many requests per secon"
                    },
                    "500": {
                        "description": "INTERNAL_SERVER_ERROR: there was an error trying to fulfill the request"
                    }
                },
                "deprecated": false,
                "security": [],
                "x-operation-settings": {
                    "CollectParameters": false,
                    "AllowDynamicQueryParameters": false,
                    "AllowDynamicFormParameters": false,
                    "IsMultiContentStreaming": false
                }
            },
            "patch": {
                "tags": [
                    "Players"
                ],
                "summary": "Update a single player. The PATCH method can be used on a single player to do a VERY limited update. The only fields you can update in this manner are the `name` and `description` properties. All other player configuration must be done via the **PLAYER CONFIGURATIONS** APIs, detailed below.",
                "description": "Update a player by ID",
                "operationId": "UpdatePlayer",
                "parameters": [{
                        "name": "account_id",
                        "in": "path",
                        "description": "Video Cloud or Brightcove Player account ID.",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "player_id",
                        "in": "path",
                        "description": "The player ID.",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "description": "Content-Type: application/json",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Authorization: Bearer access_token (see [Getting Access Tokens](https://support.brightcove.com/oauth-api-sample-get-access-token))",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Update the plsyer",
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "Update the player",
                                "$ref": "#/definitions/schemas/UpdatePlayerRequestBody"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "200",
                                    "$ref": "#/definitions/schemas/UpdatePlayerResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "BAD_REQUEST: the syntax of the API call is likely incorrect"
                    },
                    "401": {
                        "description": "UNAUTHORIZED: Authentication failed - check to make sure your client credentials were correct for the access token "
                    },
                    "404": {
                        "description": "RESOURCE_NOT_FOUND: The api couldn&#39;t find the resource you requested "
                    },
                    "429": {
                        "description": "RATE_LIMIT_EXCEEDED: Too many requests per secon"
                    },
                    "500": {
                        "description": "INTERNAL_SERVER_ERROR: there was an error trying to fulfill the request"
                    }
                },
                "deprecated": false,
                "security": [],
                "x-operation-settings": {
                    "CollectParameters": false,
                    "AllowDynamicQueryParameters": false,
                    "AllowDynamicFormParameters": false,
                    "IsMultiContentStreaming": false
                }
            }
        },
        "/accounts/{account_id}/players": {
            "get": {
                "tags": [
                    "Players"
                ],
                "summary": "Get a list of players",
                "description": "Get a player by ID",
                "operationId": "GetPlayer",
                "parameters": [{
                        "name": "account_id",
                        "in": "path",
                        "description": "Video Cloud or Brightcove Player account ID.",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "description": "Content-Type: application/json",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Authorization: Bearer access_token (see [Getting Access Tokens](https://support.brightcove.com/oauth-api-sample-get-access-token))",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "200",
                                    "$ref": "#/definitions/schemas/GetPlayersResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "BAD_REQUEST: the syntax of the API call is likely incorrect"
                    },
                    "401": {
                        "description": "UNAUTHORIZED: Authentication failed - check to make sure your client credentials were correct for the access token "
                    },
                    "404": {
                        "description": "RESOURCE_NOT_FOUND: The api couldn&#39;t find the resource you requested "
                    },
                    "429": {
                        "description": "RATE_LIMIT_EXCEEDED: Too many requests per secon"
                    },
                    "500": {
                        "description": "INTERNAL_SERVER_ERROR: there was an error trying to fulfill the request"
                    }
                },
                "deprecated": false,
                "security": [],
                "x-operation-settings": {
                    "CollectParameters": false,
                    "AllowDynamicQueryParameters": false,
                    "AllowDynamicFormParameters": false,
                    "IsMultiContentStreaming": false
                }
            },
            "patch": {
                "tags": [
                    "Players"
                ],
                "summary": "Update a single player. The PATCH method can be used on a single player to do a VERY limited update. The only fields you can update in this manner are the `name` and `description` properties. All other player configuration must be done via the **PLAYER CONFIGURATIONS** APIs, detailed below.",
                "description": "Update a player by ID",
                "operationId": "UpdatePlayer",
                "parameters": [{
                        "name": "account_id",
                        "in": "path",
                        "description": "Video Cloud or Brightcove Player account ID.",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "player_id",
                        "in": "path",
                        "description": "The player ID.",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "description": "Content-Type: application/json",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Authorization: Bearer access_token (see [Getting Access Tokens](https://support.brightcove.com/oauth-api-sample-get-access-token))",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Update the plsyer",
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "Update the player",
                                "$ref": "#/definitions/schemas/UpdatePlayerRequestBody"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "200",
                                    "$ref": "#/definitions/schemas/UpdatePlayerResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "BAD_REQUEST: the syntax of the API call is likely incorrect"
                    },
                    "401": {
                        "description": "UNAUTHORIZED: Authentication failed - check to make sure your client credentials were correct for the access token "
                    },
                    "404": {
                        "description": "RESOURCE_NOT_FOUND: The api couldn&#39;t find the resource you requested "
                    },
                    "429": {
                        "description": "RATE_LIMIT_EXCEEDED: Too many requests per secon"
                    },
                    "500": {
                        "description": "INTERNAL_SERVER_ERROR: there was an error trying to fulfill the request"
                    }
                },
                "deprecated": false,
                "security": [],
                "x-operation-settings": {
                    "CollectParameters": false,
                    "AllowDynamicQueryParameters": false,
                    "AllowDynamicFormParameters": false,
                    "IsMultiContentStreaming": false
                }
            }
        }
    },
    "definitions": {
        "schemas": {
            "UpdatePlayerRequestBody": {
                "title": "Player",
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string",
                        "description": "The player id",
                        "readOnly": true
                    },
                    "name": {
                        "type": "string",
                        "description": "The player name"
                    },
                    "description": {
                        "type": "string",
                        "description": "The player description"
                    }
                }
            },
            "configuration": {
                "title": "Player Configuration",
                "type": "object",
                "description": "Configuration for a player",
                "properties": {
                    "autoadvance": {
                        "type": "boolean",
                        "description": "Autoadvance setting if using playlists: 0 for no wait; a number for seconds between advance; null to cancel autoadvance"
                    },
                    "autoplay": {
                        "type": "boolean",
                        "description": "Indicates player should play video immediately, on platforms that allow this"
                        "default": false
                    },
                    "compatibility": {
                        "type": "boolean",
                        "description": "Provides compatibility with the Player 1.x.x API - you should not change this setting"
                    },
                    "css": {
                        "type": "object",
                        "description": "Object containing CSS color overrides",
                        "properties": {
                            "controlBarColor": {
                                "type": "string",
                                "description": "Background color of control bar"
                            },
                            "controlColor": {
                                "type": "string",
                                "description": "Color of buttons and text in control bar"
                            },
                            "progressColor": {
                                "type": "string",
                                "description": "Color of progress bar"
                            }
                        }
                    },
                    "errors": {
                        "type": "boolean",
                        "description": "Indicates if the error messages plugin should be excluded"
                    },
                    "fullscreenControl": {
                        "type": "boolean",
                        "description": "Indicates whether the fullscreen control should be shown in the control bar"
                    },
                    "languages": {
                        "type": "array",
                        "description": "Languages (2 letter abbreviations) you wish your player to support, from the Vides.js supported list",
                        "items": {
                            "type": "string"
                        }
                    },
                    "loop": {
                        "type": "boolean",
                        "description": "Indicates if the video should play over as soon as it ends"
                    },
                    "media": {
                        "type": "object",
                        "description": "Media information for non-Video Cloud media",
                        "properties": {
                            "$ref": "#/definitions/schemas/media"
                        }
                    },
                    "player": {
                        "type": "object",
                        "description": "Player information object",
                        "properties": {
                            "$ref": "#/definitions/schemas/player"
                        }
                    },
                }
            },
            "media": {
                "title": "Media Object",
                "type": "object",
                "description": "Media information for non-Video Cloud media",
                "properties": {
                    "sources": {
                        "type": "array",
                        "description": "Array of media source objects",
                        "items": {
                            "$ref": "#/definitions/schemas/media.source"
                        }
                    },
                    "src": {
                        "type": "string",
                        "description": "The URL of the video file to load into the player"
                    },
                    "tracks": {
                        "type": "array",
                        "description": "Array of text track objects",
                        "items": {
                            "$ref": "#/definitions/schemas/media.track"
                        }
                    }
                }
            },
            "media.source": {
                "title": "Media Source Object",
                "type": "object",
                "description": "Media source information for non-Video Cloud media",
                "properties": {
                    "height": {
                        "type": "integer",
                        "description": "Video frame height in pixels"
                    },
                    "width": {
                        "type": "integer",
                        "description": "Video frame width in pixels"
                    },
                    "poster": {
                        "type": "object",
                        "description": "Information for the poster image",
                        "properties": {
                            "highres": {
                                "type": "string",
                                "description": "The file path to the poster image, relative to the root directory of the skin"
                            }
                        }
                    },
                    "src": {
                        "type": "string",
                        "description": "The URL of the video file to load into the player"
                    },
                    "title": {
                        "type": "string",
                        "description": "Content of the `&lt;title&gt;` element of the page"
                    },
                    "type": {
                        "type": "string",
                        "description": "MIME type of the video, as specified in the HTML5 standard, for instance `video/mp4` form MP4 or `application/x-mpegURL` for HLS",
                        "enum": ["video/mp4", "application/x-mpegURL"]
                    }
                },
                "required": [
                    "src",
                    "type"
                ]
            },
            "media.track": {
                "title": "Media Text Track Object",
                "type": "object",
                "description": "Media track information for non-Video Cloud media",
                "properties": {
                    "label": {
                        "type": "string",
                        "description": "Text label for the track, for instance `English` for an English language text track"
                    },
                    "src": {
                        "type": "string",
                        "description": "URL to source of track, required in a track object"
                    },
                    "srclang": {
                        "type": "string",
                        "description": "2 letter code (valid BCP 47 language tag) for the language of the text track"
                    }
                }
            },
            "GetPlayerResponse": {
                "title": "GetPlayerResponse",
                "type": "object",
                "properties": {
                    "account_id": {
                        "type": "string",
                        "description": "The account id",
                        "readOnly": true
                    },
                    "id": {
                        "type": "string",
                        "description": "The player id",
                        "readOnly": true
                    },
                    "name": {
                        "type": "string",
                        "description": "The player name"
                    },
                    "description": {
                        "type": "string",
                        "description": "The player description"
                    },
                    "branches": {
                        "type": "object",
                        "description": "The branches of the player - contains objects for the preview and master (published) player",
                        "properties": {
                            "preview": {
                                "type": "object",
                                "description": "The preview branch of the player",
                                "properties": {
                                    "preview": {
                                        "type": "object",
                                        "description": "The preview branch of the player",
                                        "properties": {
                                            "configuration": {
                                                "type": "object",
                                                "description": "The preview player configuration",
                                                "properties": {
                                                    "$ref": "#/definitions/schemas/configuration"
                                                }
                                            }
                                        }
                                    }
                                }
                            },
                            "master": {
                                "type": "object",
                                "description": "The master (published) branch of the player",
                                "properties": {
                                    "configuration": {
                                        "type": "object",
                                        "description": "The master (published) player configuration",
                                        "properties": {
                                            "$ref": "#/definitions/schemas/configuration"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "UpdatePlayerResponse": {
                "title": "Update Player Response",
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string",
                        "description": "The player id",
                        "readOnly": true
                    },
                    "preview_url": {
                        "type": "string",
                        "description": "URL to preview player",
                        "readOnly": true
                    },
                    "preview_embed_code": {
                        "type": "string",
                        "description": "Preview player iframe tag",
                        "readOnly": true
                    }
                }
            },
            "GetPlayersResponse": {

            }
        }
    }
}
