{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "Dynamic Ingest API Reference",
    "description": "Reference for the Brightcove Dynamic Ingest API, used to add videos, images, and captions to your media library, and to replace existing media assets. **NOTE THAT BEFORE YOU INGEST A NEW VIDEO, YOU MUST FIRST MAKE A [CREATE VIDEO REQUEST](https://brightcovelearning.github.io/Brightcove-API-References/cms-api/v1/doc/swagger.html#/Videos/Create_Video).** To test API requests, you can use our <a href=\"https://support.brightcove.com/developer-tools-and-concepts\" target=\"_blank\">API Testing Tools</a>"
  },
  "host": "ingest.api.brightcove.com",
  "basePath": "/v1",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/accounts/{account_id}/videos/{video_id}/upload-urls/{source_name}": {
      "get": {
        "description": "Get temporary S3 URLs to upload source files for ingestion into Video Cloud. See Source File Upload for more information. NOTE that before you ingest a new video, you must first make a Create Video request. ",
        "summary": "Get_S3_URLs",
        "tags": [
          "Ingest"
        ],
        "operationId": "AccountsVideosUploadUrlsSourceNameByAccountIdAndVideoIdGet",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Video Cloud account ID."
          },
          {
            "name": "video_id",
            "in": "path",
            "required": true,
            "type": "number",
            "format": "double",
            "description": "Video Cloud video ID; if this is a new video ingest, the ID will be the one returned by the Create Video request"
          },
          {
            "name": "source_name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "the video source filename - the name should not contain any URL-reserved characters such as ?, &amp;, # or spaces"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Content-Type: application/json"
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Authorization: Bearer access_token (see [Getting Access Tokens](https://support.brightcove.com/getting-access-tokens))"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "$ref": "#/definitions/GetS3Urls200"
            },
            "examples": {}
          },
          "401": {
            "description": "UNAUTHORIZED: Authentication failed; check to make sure your client credentials were correct for the access token ",
            "schema": {}
          },
          "404": {
            "description": "RESOURCE_NOT_FOUND: The api couldn&#39;t find the resource you requested ",
            "schema": {}
          },
          "429": {
            "description": "RATE_LIMIT_EXCEEDED: Dynamic Ingest job not created. Reduce the number of concurrent jobs for this account before trying again. This error has been logged ",
            "schema": {}
          },
          "default": {
            "description": "INTERNAL_ERROR: Internal error, please try again later ",
            "schema": {}
          }
        },
        "security": [],
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/accounts/{account_id}/videos/{video_id}/ingest-requests": {
      "post": {
        "description": "Uploads a video, images, and/or text track (WebVTT files) and adds them to your media library. NOTE that before you ingest a new video, you must first make a Create Video request. ",
        "summary": "Ingest_Media_Asset",
        "tags": [
          "Ingest"
        ],
        "operationId": "AccountsVideosIngestRequestsByAccountIdAndVideoIdPost",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Video Cloud account ID."
          },
          {
            "name": "video_id",
            "in": "path",
            "required": true,
            "type": "number",
            "format": "double",
            "description": "Video Cloud video ID; if this is a new video ingest, the ID will be the one returned by the Create Video request"
          },
          {
            "name": "Ingest_Media_AssetBody",
            "in": "body",
            "required": true,
            "description": "Uploads a video, images, and/or text track (WebVTT files) and adds them to your media library. NOTE that before you ingest a new video, you must first make a Create Video request.",
            "schema": {
              "$ref": "#/definitions/IngestMediaAssetbody"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Content-Type: application/json"
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Authorization: Bearer access_token (see [Getting Access Tokens](https://support.brightcove.com/getting-access-tokens))"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "$ref": "#/definitions/IngestMediaAsset200"
            },
            "examples": {}
          },
          "400": {
            "description": "PROFILE: Unable to find profile by name \nNOT_SUBMITTED: Unable to submit job, please try again later \nNO_SUCH_VIDEO: Unable to find the referenced video \nNO_SOURCE: Unable to find a source to use \nCDN_CREDENTIALS: Unable to fetch CDN credentials \nBAD_CALLBACKS: Callbacks were not in expected format \nBAD_REQUEST: Unable to parse request body. ",
            "schema": {}
          },
          "401": {
            "description": "UNAUTHORIZED: Authentication failed; check to make sure your client credentials were correct for the access token ",
            "schema": {}
          },
          "403": {
            "description": "DYNAMIC_DELIVERY_NOT_ALLOWED: This account is not enabled for Dynamic Delivery, but a Dynamic Delivery profile was specified. \nCONTEXT_AWARE_ENCODING_NOT_ALLOWED: This account is not enabled for Context Aware Encoding, but a Context Aware Encoding profile was specified. ",
            "schema": {}
          },
          "404": {
            "description": "RESOURCE_NOT_FOUND: The api couldn&#39;t find the resource you requested ",
            "schema": {}
          },
          "422": {
            "description": "MALFORMED_SOURCE_URL: source url is malformed. \nBAD_PROTOCOL_SOURCE_URL: source url uses a unsupported protocol. \nEXCEED_MAXIMUM_VTT_SOURCES: vtt sources exceed the maximum size. \nINVALID_VTT_KIND: vtt kind is invalid. \nCONSTRAINT_VIOLATION: capture-image is not allowed if an image source is provided. \nUNPROCESSABLE_ENTITY: request data contains some unprocessable entity. ",
            "schema": {}
          },
          "429": {
            "description": "RATE_LIMIT_EXCEEDED: Dynamic Ingest job not created. Reduce the number of concurrent jobs for this account before trying again. This error has been logged ",
            "schema": {}
          },
          "default": {
            "description": "SUBMISSION_FAILURE: Unable to submit job please try again later. \nINTERNAL_ERROR: Internal error, please try again later ",
            "schema": {}
          }
        },
        "security": [],
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    }
  },
  "definitions": {
    "GetS3Urls200": {
      "title": "Get_S3_URLs200",
      "type": "object",
      "properties": {
        "bucket": {
          "description": "the S3 bucket name",
          "type": "string"
        },
        "object_key": {
          "description": "the access key used for authenticating the upload request (used for multipart uploads)",
          "type": "string"
        },
        "access_key_id": {
          "description": "the access key used for authenticating the upload request (used for multipart uploads)",
          "type": "string"
        },
        "secret_access_key": {
          "description": "the secret access key used for authenticating the upload request (used for multipart uploads)",
          "type": "string"
        },
        "session_token": {
          "description": "the secret access key used for authenticating the upload request (used for multipart uploads)",
          "type": "string"
        },
        "SignedUrl": {
          "description": "this is a shorthand S3 url that you can PUT your source file(s) to if you have relatively small videos and are not implementing multipart upload",
          "type": "string"
        },
        "ApiRequestUrl": {
          "description": "this is the URL you will include in your Dynamic Ingest POST request for the Master url or url for the image/text_tracks assets",
          "type": "string"
        }
      },
      "required": [
        "bucket",
        "object_key",
        "access_key_id",
        "secret_access_key",
        "session_token",
        "SignedUrl",
        "ApiRequestUrl"
      ]
    },
    "IngestMediaAssetbody": {
      "title": "Ingest_Media_AssetBody",
      "type": "object",
      "properties": {
        "master": {
          "$ref": "#/definitions/IngestMediaAssetbody.master"
        },
        "profile": {
          "description": "ingest profile to use for transcoding; if absent, account default profile will be used",
          "type": "string"
        },
        "text_tracks": {
          "description": "array of text_track maps",
          "type": "array",
          "items": {
            "$ref": "#/definitions/IngestMediaAssetbody.textTracks"
          }
        },
        "audio_tracks": {
          "description": "array of audio track objects Dynanic Delivery only",
          "type": "array",
          "items": {
            "$ref": "#/definitions/IngestMediaAssetbody.audioTracks"
          }
        },
        "poster": {
          "$ref": "#/definitions/IngestMediaAssetbody.poster"
        },
        "thumbnail": {
          "$ref": "#/definitions/IngestMediaAssetbody.thumbnail"
        },
        "capture-images": {
          "description": "whether poster and thumbnail should be captured during transcoding; defaults to true if the the profile has image renditions, false if it does not",
          "type": "boolean"
        },
        "callbacks": {
          "description": "array of URLs that notifications should be sent to",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "IngestMediaAssetbody.master": {
      "title": "Ingest_Media_AssetBody.master",
      "type": "object",
      "properties": {
        "url": {
          "description": "URL for the video source; required except for re-transcoding where a digital master has been archived, or you are adding images or text tracks to an existing video",
          "type": "string"
        },
        "use_archived_master": {
          "description": "For retranscode requests, will use the archived master if set to true; if set to false, you must also include the url for the source video",
          "type": "boolean"
        }
      }
    },
    "IngestMediaAssetbody.textTracks": {
      "title": "Ingest_Media_AssetBody.text_tracks",
      "type": "object",
      "properties": {
        "url": {
          "description": "URL for a WebVTT file",
          "type": "string"
        },
        "srclang": {
          "description": "ISO 639 2-letter (alpha-2) language code for the text tracks",
          "type": "string"
        },
        "kind": {
          "description": "how the vtt file is meant to be used",
          "type": "string"
        },
        "label": {
          "description": "user-readable title",
          "type": "string"
        },
        "default": {
          "description": "sets the default language for captions/subtitles",
          "type": "boolean"
        }
      },
      "required": [
        "url",
        "srclang"
      ]
    },
    "IngestMediaAssetbody.audioTracks": {
      "title": "Ingest_Media_AssetBody.audio_tracks",
      "type": "object",
      "properties": {
        "language": {
          "description": "Language code for the muxed in audio from the subtags in http://www.iana.org/assignments/language-subtag-registry/language-subtag-registry (default can be set for the account by contacting Brightcove Support) Dynanic Delivery only",
          "type": "string"
        },
        "merge_with_existing": {
          "description": "whether to replace existing audio tracks or add the new ones (currently only false is supported) Dynanic Delivery only",
          "type": "boolean"
        },
        "masters": {
          "description": "array of audio track objects Dynanic Delivery only",
          "type": "array",
          "items": {
            "$ref": "#/definitions/IngestMediaAssetbody.audioTracks.masters"
          }
        }
      }
    },
    "IngestMediaAssetbody.audioTracks.masters": {
      "title": "Ingest_Media_AssetBody.audio_tracks.masters",
      "type": "object",
      "properties": {
        "url": {
          "description": "URL for the audio file Dynanic Delivery only",
          "type": "string"
        },
        "language": {
          "description": "Language code for the audio track from the subtags in http://www.iana.org/assignments/language-subtag-registry/language-subtag-registry (default can be set for the account by contacting Brightcove Support) Dynanic Delivery only",
          "type": "string"
        },
        "variant": {
          "description": "the type of audio track (default can be set for the account by contacting Brightcove Support) Dynanic Delivery only",
          "type": "string"
        }
      }
    },
    "IngestMediaAssetbody.poster": {
      "title": "Ingest_Media_AssetBody.poster",
      "type": "object",
      "properties": {
        "url": {
          "description": "URL for the video poster image",
          "type": "string"
        },
        "height": {
          "description": "pixel height of the image",
          "type": "number",
          "format": "double"
        },
        "width": {
          "description": "pixel width of the image",
          "type": "number",
          "format": "double"
        }
      },
      "required": [
        "url"
      ]
    },
    "IngestMediaAssetbody.thumbnail": {
      "title": "Ingest_Media_AssetBody.thumbnail",
      "type": "object",
      "properties": {
        "url": {
          "description": "URL for the video thumbnail image",
          "type": "string"
        },
        "height": {
          "description": "pixel height of the image",
          "type": "number",
          "format": "double"
        },
        "width": {
          "description": "pixel width of the image",
          "type": "number",
          "format": "double"
        }
      },
      "required": [
        "url"
      ]
    },
    "IngestMediaAsset200": {
      "title": "Ingest_Media_Asset200",
      "type": "object",
      "properties": {
        "id": {
          "description": "job id for the request",
          "type": "string"
        }
      },
      "required": [
        "id"
      ]
    }
  }
}
