{
  "swagger": "2.0",
  "info": {
    "title": "Once Ingest API Reference",
    "version": "1.0.0",
    "description": "Reference for the Once Ingest API, used to ingest media assets into the Once system."
  },
  "paths": {
    "/{domain_id}/catalogs/{catalog_id}": {
      "post": {
        "tags": [
          "Ingest"
        ],
        "summary": "Make Ingest Request",
        "description": "Allows you to ingest a new video into the Once system ",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "domain_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The domain id for your Once account "
          },
          {
            "name": "catalog_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The id for the digital media catalog for your domain "
          },
          {
            "name": "X-BC-ONCE-API-KEY",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ": {api_key} "
          }
        ],
        "responses": {
          "Response Fields": {
            "description": "Response Fields",
            "schema": {
              "$ref": "#/definitions/Make_Ingest_RequestResponseFields"
            }
          },
          "Error 4xx": {
            "description": "Error 4xx",
            "schema": {
              "$ref": "#/definitions/Make_Ingest_RequestError4xx"
            }
          }
        },
        "operationId": "Make_Ingest_Request"
      }
    },
    "": {
      "": {
        "tags": [
          "_Users_rcrooks_git_Brightcove_API_References_once_ingest_api_v1_doc_main_js"
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "Success 200": {
            "description": "Success 200"
          }
        },
        "operationId": ""
      }
    }
  },
  "definitions": {
    "Make_Ingest_RequestResponseFields": {
      "properties": {
        "requestId": {
          "type": "string",
          "description": "The id for request "
        }
      },
      "required": [
        "requestId"
      ]
    },
    "Make_Ingest_RequestError4xx": {
      "properties": {
        "UNAUTHORIZED": {
          "type": "json",
          "description": "401: Authentication failed; check to make sure your policy key is correct "
        },
        "Validation": {
          "type": "json",
          "description": "Errors 404: The api couldn&#39;t find the resource you requested "
        }
      },
      "required": [
        "UNAUTHORIZED",
        "Validation"
      ]
    }
  },
  "schemes": [
    "https"
  ],
  "host": "api.unicornmedia.com",
  "basePath": "/ingest-api"
}